{
  parser: "babel-eslint",
  "plugins": [
    "react"
  ],
  "rules": {
    "no-unused-vars": 0,
    "import/no-named-as-default": 0, // common with react-redux
    "camelcase": 0,
    "prefer-template": 0,
    "prefer-destructuring": 0,
    "no-mixed-operators": 0,
    "max-len": [1, 120, 2, {ignoreComments: true}]
  },
   "extends": ["airbnb-base"]
}